
<div class= 'container'>
<br>
    <h1 class= 'font-weight-bold text-info'>Editing Tweet</h1>
    <br>
    <%= render 'form', tweet: @tweet %>
    <br>
    <%= link_to 'Show', @tweet, class:'btn btn-info text-right' %> |
    <%= link_to 'Back', tweets_path, class:'btn btn-info text-right' %>
</div>