
<div class='container'>

<h1 class='font-weight-bold text-info'>New Tweet</h1>

<%= render 'form', tweet: @tweet, class: 'btn btn-info'%>
<br>
<%= link_to 'Back', tweets_path, class: 'btn btn-info'%>
</div>